<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
        
    <title>Football Field Management</title>
    <!--

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/footballFieldManagement.css">   

    <style>
        .imgfootball {
            display: block;
            max-width: 50%;
            height: auto;
        }
    </style>
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" style="background-color:#dfe6e9">
   <div class="container">
        <div class="row">
             <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-page="/Index" class="logo">Booking<em> Football Field</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            @if (Model.customerId != null){
                            <li class="scroll-to-section"><a asp-page="/Index" class="active">Home</a></li>
                             <li class="scroll-to-section">
                                <a href="#features">Thanh Toan 
                                </a>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn circles">
                                            <p class="dropdown_name">@Model.name</p>
                                            <img src="~/img/avt.png" alt="">
                                    </button>
                                    <div id="myDropdown" class="dropdown-content show">
                                        <a asp-page="/ViewProfile">View Information</a>
                                        <a asp-page="/BookingField/Index">Book Now!</a>
                                        <a asp-page="/BookingField/RequestHistory">My Request</a>
                                        <a asp-page="/BookingField/RecordHistory">My Record</a>
                                        <a asp-page="/Login" asp-page-handler="LogOut">Logout</a>
                                    </div>
                                </div>
                        }
                           else if (Model.isAdmin != null)
                           {
                            <li class="scroll-to-section"><a asp-page="/Index" class="active">Home</a></li>
                             <li class="scroll-to-section">
                                <a href="#features">Thanh Toan QR 
                                </a>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <!-- <li class=" avatarProfile"> -->
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn circles">
                                            <p class="dropdown_name">Admin</p>
                                            <img src="~/img/avt.png" alt="">
                                    </button>
                                    <div id="myDropdown" class="dropdown-content show">
                                        <a asp-page="/Customer/Index">Customer</a>
                                        <a asp-page="/Staff/Index">Staff</a>
                                        <a asp-page="/FootballField/Index">FootballField</a>
                                        @*<a asp-page="/BookingField/ResolveRequests">Resolve Requests</a>
                                        <a asp-page="/BookingRecord">Booking Records</a>*@
                                        <a asp-page="/Login" asp-page-handler="LogOut">Logout</a>
                                    </div>
                                </div>
                            }
                            else if (Model.staffId != null)
                            {
                                <li class="scroll-to-section"><a asp-page="/Index">Home</a></li>
                                 <li class="scroll-to-section">
                                    <a href="#features"> Thanh Toan QR
                                       
                                    </a>
                                </li>
                                <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <!-- <li class=" avatarProfile"> -->
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn circles">
                                            <p class="dropdown_name">@Model.name</p>
                                            <img src="~/img/avt.png" alt="">
                                    </button>
                                    <div id="myDropdown" class="dropdown-content show">                                        
                                        <a asp-page="/FootballField/Index">FootballField</a>
                                        <a asp-page="/BookingField/ResolveRequests">Resolve Requests</a>
                                        <a asp-page="/BookingRecord/Index">Booking Records</a>
                                        <a asp-page="/Staff/ViewProfile">ViewProfile</a>
                                        <a asp-page="/Blacklist/Index">Blacklist</a>
                                        <a asp-page="/Login" asp-page-handler="LogOut">Logout</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                            <li class="scroll-to-section"><a asp-page="/Index" class="active">Home</a></li>
                             <li class="scroll-to-section">
                                <a href="#features">Thanh Toan QR 
                                   
                                </a>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <div class="SignIn_div">
                                <li class="scroll-to-section" style="margin-top:6px;"><a asp-page="/Login">Sign in</a></li>
                            </div>
                            }
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                   </nav>
             </div>
        </div>
   </div>
</header>
        <main role="main" class="pb-3" style="margin-top:4rem;">
            @RenderBody()   
        </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@        

     <!-- jQuery -->
    <script src="~/js/jquery-2.1.0.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    @*<script src="~/js/bootstrap.min.js"></script>*@

    <!-- Plugins -->
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/mixitup.js"></script>
    <script src="~/js/accordions.js"></script>
    <!-- Global Init -->
    <script src="~/js/custom.js"></script>
        <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>

    <!-- jQuery -->
    <script src="~/js/jquery-2.1.0.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/mixitup.js"></script>
    <script src="~/js/accordions.js"></script>

    <!-- Global Init -->
    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>    
