@page
@model BookingFootballField.Pages.Customer.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1 style="justify-content: center;
    padding-top: 1rem;
    display: flex;
    font-weight: 700;">
	 Customer Edit</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />*@
    <link rel="stylesheet" href="~/css/Edit_Profile.css">
</head>
<body>
<div class="container update">
		<div class="main-body" style="width:60% ;">
			<div class="row">
				
				<form method="post">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col-sm-12 text-center text-primary">
										<h3 class="mb-0">Cập Nhật Thông Tin Cá Nhân</h3>
									</div>								
								</div>

								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Full Name</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="Customer.Name" class="form-control">
										<span asp-validation-for="Customer.Name" class="text-danger"></span>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Email</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="Customer.Email" class="form-control">
										<span asp-validation-for="Customer.Email" class="text-danger"></span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Password</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="Customer.Password" class="form-control">
										<span asp-validation-for="Customer.Password" class="text-danger"></span>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Phone</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="Customer.PhoneNumber" class="form-control">
										<span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
									</div>
								</div>
							
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Date Of Birth</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input asp-for="Customer.Dob" class="form-control">
										<span asp-validation-for="Customer.Dob" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3"></div>
									<input type="hidden" asp-for="Customer.Id"/>
									<input type="hidden" asp-for="Customer.Status"/>
									<div class="col-sm-9 text-secondary">
										<input type="submit" class="btn btn-primary px-4" value="Save Changes">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <hr style="height: 2px; margin-top: 10rem;">
    <footer>
        <div class="container update">
            <div class="row">
                <div class="col-lg-12">
                    <p class="end">
                        Football Field Booking
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
