@page
@model BookingFieldManagement.Pages.FootballField.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="justify-content: center;
    padding-top: 1rem;
    display: flex;
    font-weight: 700;">
    FootballField Edit
</h1>
<hr />
<div class="row" style="display: flex;justify-content: center;margin: 0 15px;">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FootballField.Id" />
            <input type="hidden" asp-for="FootballField.Image" />
            <div class="form-group">
                <label asp-for="FootballField.Name" class="control-label"></label>
                <input asp-for="FootballField.Name" class="form-control" />
               
                <span asp-validation-for="FootballField.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballField.Capacity" class="control-label"></label>
                <input asp-for="FootballField.Capacity" class="form-control" />
                <span asp-validation-for="FootballField.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballField.Price" class="control-label"></label>
                <input asp-for="FootballField.Price" class="form-control" />
                <span asp-validation-for="FootballField.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballField.Status" class="control-label"></label>
                <input asp-for="FootballField.Status" class="form-control" />
                <span asp-validation-for="FootballField.Status" class="text-danger"></span>
            </div>

            <h4 class="alert-danger">@ViewData["Message"]</h4>
            <div class="mb-3">
                <input type="file" asp-for="@Model.FileUpload" class="form-control" />
            </div>

            <div style="display:flex; justify-content:space-between" class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="./Index">Back to List</a>
            </div>

            <div class="fixImga" style="height:500px;width:500px; ">
                <img style="object-fit:cover;width: 500px" src="@Model.tempImg" />
            </div>



        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
